<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Fields of The World (FTW) is a global field boundary ecosystem featuring benchmark datasets, models, tools, and web applications for agricultural intelligence.">
    <meta name="keywords" content="machine learning, agricultural field boundaries, ecosystem, benchmark dataset, Sentinel-2, global agriculture, AI tools, community">

    <meta property="og:title" content="Fields of The World: {{ page.title }}"/>
    <meta property="og:description" content="FTW is a comprehensive ecosystem for agricultural field boundary detection, featuring benchmark datasets, baseline models, inference tools, web applications, and community-driven development spanning 24 countries on four continents."/>
    <meta property="og:url" content="https://fieldsofthe.world"/>
    <meta property="og:image" content="static/images/banner1.webp" />
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>

    <meta name="twitter:title" content="Fields of The World: {{ page.title }}">
    <meta name="twitter:description" content="FTW is a comprehensive ecosystem for agricultural field boundary detection, featuring benchmark datasets, baseline models, inference tools, web applications, and community-driven development spanning 24 countries on four continents.">
    <meta name="twitter:image" content="static/images/banner1.webp">
    <meta name="twitter:card" content="summary_large_image">

    <title>Fields of The World: {{ page.title }}</title>

    <link rel="icon" type="image/png" href="static/images/ftw_logo.png" />
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

    <!-- Include the header -->
    <header>
        <div class="fadein">
            <img id="b1" src="static/images/banner1.webp" alt="FTW Original">
            <img id="b2" src="static/images/banner2.webp" alt="FTW Instance Mask">
            <img id="b3" src="static/images/banner3.webp" alt="FTW Semantic Mask">
        </div>
        <h1>Fields of The World (FTW)</h1>
        <p>A Global Field Boundary Ecosystem</p>
    </header>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="index.html#about">About</a></li>
            <li><a href="ecosystem.html">Ecosystem</a></li>
            <li><a href="community.html">Community</a></li>
            <li><a href="tutorial.html">Tutorial</a></li>
            <li><a href="map/">Data</a></li>
            <li><a href="paper.html">Paper</a></li>
        </ul>
    </nav>

    <!-- Content -->
    <main>{{ content }}</main>

    <!-- Footer -->
    <footer>
        <p class="dark-green-background">
            <a property="dct:title" rel="cc:attributionURL" href="https://fieldsofthe.world">Fields of The World website</a> is licensed under 
            <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
                CC BY-SA 4.0
                <img class="license-img" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="CC">
                <img class="license-img" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="BY">
                <img class="license-img" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="SA">
            </a>
        </p>
    </footer>

</body>
</html>